body {
  text-align: center;
  margin : 0;
  position: relative;

}
/* To add background image and changing its opacity without affecting other textcontent*/
body::before{
  content: '';
  background-image: url("images/drum1.jpg");
  width: 100%;
  height:102%;
  background-repeat: no-repeat;
  top: 0;
  left : 0;
  right : 0;
  opacity: 0.6;
  position: absolute;
  z-index: -1;

}

h1 {
  margin-top :0;
  padding-top: 5rem;
  font-size: 5rem;
  color: #FFC947;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.w {
   background-image: url("images/tom1.png");
}

.a {
   background-image: url("images/tom2.png");
}

.s {
   background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
   background-image: url("images/crash.png");
}

.k {
   background-image: url("images/kick.png");
}

.l {
   background-image: url("images/snare.png");
}

.set {
  margin: 10% auto;
  z-index: 1;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #082032;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  /*border: 10px solid #404B69;*/
   border: 5px solid #1E5128;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: /*#DA0463*//*#ECEFA4 #ECEFA4*/#E2703A;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media only screen and (max-width:600px){
  footer{
    margin-top:43px;
  }
  body::before{
    width: 160%;
    background-repeat: repeat;
  }
}
  
